[2020-05-20 12:40] kiwicopple opened #6 "Fix unit tests"
Looks like they are failing based on Bobbie's investigation here: https://github.com/supabase/realtime-js/pull/1#issuecomment-631269086

[2020-06-01 01:36] kiwicopple opened #52 "Confirmation of a socket connection"
Picking up from @ToryByte's tweet: https://twitter.com/ToryByte/status/1267225319947280385

Is there a way to wait for a subscription to connect? I cant find a way to wait for a subscription to be ready before I start running other statements. It would be nice if `subscribe()` returned a promise.

[2020-09-09 00:29] doctorpangloss commented on #6
I am just making sure that things will work before I try an integration. Right now, with:

[code]

just so that I can run the tests, I see:

[code]

Can I go ahead and test something, or is `master` actually broken?

[2020-09-10 12:58] kiwicopple commented on #6
New task: automate unit tests using github actions

[2020-09-16 12:17] kiwicopple commented on #6
@J0 has implemented the actions, but it looks like they are still failing. Will revisit when we implement TypeScript

[2020-09-25 07:42] kiwicopple commented on #6
Fixed by @inian ! https://github.com/supabase/realtime-js/actions/runs/272013183

[2020-09-25 07:42] #6 closed

[2020-09-27 06:58] inian opened #53 "Realtime: Better error message when providing incorrect token"
# Bug report

## Describe the bug
I get the following error message when not providing an auth token or giving an incorrect token. The error message should say something like incorrect (or missing) token instead of Network timeout.

[code]

## To Reproduce
[code]

[2020-10-02 07:08] kiwicopple opened #46 "Convert to TypeScript"
This is a Hacktoberfest task!
You can read more about Hacktoberfest [on our blog](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020) and see all tasks on our [Hacktoberfest Project Board](https://github.com/orgs/supabase/projects/5).

# Summary

This library is currently plain JS, but we'd love it to be TypeScript

## Details

We just went through the exercise of converting [postgres

[2020-10-02 11:45] abraaoduarte commented on #46
Can I work on this?

[2020-10-02 11:50] kiwicopple commented on #46
Definitely @abraaoduarte - let me know if you need help

[2020-10-02 12:06] abraaoduarte commented on #46
Ok, thanks.
I will open a PR for each file that I manage to pass to Typescript so I don't have too much to review at once.

[2020-10-12 09:55] kiwicopple commented on #46
Hey @abraaoduarte checking in on this. How is everything going? I will be releasing another version of supabase-js soon and I'm planning to add the Typescript changes here. If you haven't started this already, let me know and I will pick it up 👍

[2020-10-14 06:43] #46 closed

[2020-10-14 06:47] kiwicopple commented on #46
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/realtime-js/v/1.0.0)
- [GitHub release](https://github.com/supabase/realtime-js/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-14 06:47] kiwicopple commented on #6
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/realtime-js/v/1.0.0)
- [GitHub release](https://github.com/supabase/realtime-js/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-18 11:05] abc3 opened #77 "The client reconnects during long-time receiving frequent messages."
# Bug report

## Describe the bug

If the server pushes many messages, for example, if DB has inserted 100k rows, the client will reconnect after ~40-120 sec.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Launch http://localhost:3000/stress
2. Open browser DevTools
3. Execute 100000
2. Wait for a little for the new message `Connecting` in the

[2021-02-23 02:59] w3b6x9 commented on #77
@abc yep, I saw this while doing my tests for [RAM explosion on huge # of inserts #125](https://github.com/supabase/realtime/issues/125) issue b/c I was also doing 100k inserts. Thanks for reporting this! Let me take a look.

[2021-03-10 21:33] lawrencecchen opened #78 "Remove query-string dependency"
# Feature request
querystring can be replaced w/ browser built in URLSearchParams to shave off a tiny 4.96 kb of code.

## Additional context
URLSearchParams isn't supported in IE11, but every other browser has it: https://caniuse.com/?search=urlsearchparams. Please use your discretion to judge if this is worth it!

Here's the code changes: https://github.com/lawrencecchen/realtime-js/blob/1191484

[2021-03-15 16:17] #78 closed

[2021-03-27 03:17] w3b6x9 commented on #77
@abc3 apologies for not tackling this issue sooner!

Let me know what you think of PR #80.

[2021-04-14 13:06] kiwicopple commented on #78
:tada: This issue has been resolved in version 1.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/realtime-js/v/1.0.7)
- [GitHub release](https://github.com/supabase/realtime-js/releases/tag/v1.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-21 08:43] kiwicopple opened #83 "Cannot read property 'type' of undefined on disconnect"
# Bug report

## Describe the bug

When the socket disconnects it throws an error:

[code]

[2021-04-21 08:46] #83 closed

[2021-04-21 08:47] kiwicopple commented on #83
:tada: This issue has been resolved in version 1.0.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/realtime-js/v/1.0.9)
- [GitHub release](https://github.com/supabase/realtime-js/releases/tag/v1.0.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 11:52] ixxie opened #193 "Make Subscription work across browser tabs"

[2021-07-08 01:18] #77 closed

[2021-07-09 06:34] DexterHuang opened #94 "Socket connection gets terminated if heartbeat is not sent for 1 minute"
# Bug report
   Hi, I am dexter, I am here to report an issue where my client does not send a heartbeat for more than 1 minute.
After taking a brief look at the RealtimeClient source code, I have found this block here
https://github.com/supabase/realtime-js/blob/d463118b8758456cc2a37c5eef87d0bcaa14edf5/src/RealtimeClient.ts#L270-L274

In my case server always sends `"ref": null` so `_resetHeartbea

[2021-07-09 06:37] DexterHuang commented on #94
@w3b6x9 @inian reference to our email previously :)

[2021-07-09 21:47] w3b6x9 commented on #94
@DexterHuang Thanks for creating this issue!

This was actually released a week ago (see [here](https://github.com/supabase/realtime-js/releases/tag/v1.0.10)) and was apart of `supabase-js` [v1.18.1](https://github.com/supabase/supabase-js/releases/tag/v1.18.1) release. I think you version bumped to v1.18.0 so this isn't the issue.

I've been doing more investigating and this issue is more longsta

[2021-07-10 01:08] DexterHuang commented on #94
Ah understand 👍👍 thank you guys!

[2021-07-18 13:51] panmona opened #97 "Support multiple columns filter (AND) in realtime channel filter"
# Feature request

## Is your feature request related to a problem? Please describe.

I want to only receive certain events from realtime. The events I want to receive are identified by two different columns that both need to have a specific value.

## Describe the solution you'd like

I want to be able to add multiple column filters in the supplied topic to `client.channel`.
Something like this:

[2021-07-21 20:17] w3b6x9 commented on #97
@panmau thanks for the feature request!

It's not practical to do this on the Realtime sever at the moment(see [comment](https://github.com/supabase/realtime/issues/164#issuecomment-883660861)) but perhaps we can do the matching multiple column filtering client-side. I'll leave this open in case anyone from the community has any suggestions. This is something we want to implement eventually after

[2021-07-30 16:22] bermi opened #100 "doctests do not run while testing"
# Chore

## Run transformers tests and improve typings

## Additional context

Doctests under `test/_doctest_test.js` are not working correctly.

For example on

[code]

the third argument should be a `Record`

[code]

but this goes unnoticed by the typescript compiler, making doctests less useful.

I caught this issue when I tried porting the comments to deno and run them via `deno test --doc`

I

[2021-08-08 12:37] #100 closed

[2021-08-23 22:38] kiwicopple commented on #100
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- [GitHub release](https://github.com/supabase/realtime-js/releases/tag/v1.1.3)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/realtime-js/v/1.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-04 20:38] lmick002 opened #106 "Issue with packaging as an native dependency and rebuilding with electron-rebuild -- bufferutils/node-gyp"
# Bug report

## Describe the bug

When adding @supabase/realtime-js to an electron project where the native dependencies have to be rebuild the install process fails due to bufferutil

## To Reproduce

1. Clone https://github.com/electron-react-boilerplate/electron-react-boilerplate
2. Install the realtime library as a native dependency (see: https://electron-react-boilerplate.js.org/docs/native-

[2021-10-04 20:39] w3b6x9 commented on #106
@lmick002 thanks for reporting. We'll investigate.

[2021-10-04 21:16] w3b6x9 commented on #106
@lmick002 you can install `@supabase/realtime-js` as a normal js dependency instead of a native dependency.

[2021-10-05 13:47] lmick002 commented on #106
@w3b6x9  thanks for the quick response - whenever u install the @supabase/realtime-js as in the base directory and not native directory it throws this error:

`> postinstall

 Webpack does not work with native dependencies.
@supabase/realtime-js is a native dependency and should be installed inside of the "./release/app" folder.
 First, uninstall the packages from "./package.json":
npm uninstall y

[2021-10-21 19:15] chasers opened #108 "Also send api key in X-API-Key header"
Send the api key in the header also.

Eventually need to deprecate the api key url param to keep api keys out of logs.

[2021-10-23 02:05] ferdibaum opened #111 "Bug when using subscribtions on tables with arrays of jsons"
# Bug report

## Describe the bug

When using subscriptions on tables with arrays of JSONs you get the following console logs

![Screenshot 2021-10-23 040809](https://user-images.githubusercontent.com/11589607/138538497-70107845-14eb-43b0-b681-5d0df2f211aa.png)

I think this is  because the `toArray` function in `transformers.ts` dosn't work properly for arrays of JSONs

[2021-10-23 11:36] #111 closed, assigned to nobody

[2021-10-23 19:41] dbradleyfl opened #112 "Realtime client throw on text[] columns"
# Realtime client throw on text[] columns

## Describe the bug

I have a table called "projects" that has has a column called "admin" which is a text[] column. I can successfully insert and update rows in the table, but the realtime client throws the following error when doing either:

![image](https://user-images.githubusercontent.com/5935459/138569109-b9cfa306-8b75-4cb8-a20b-f1b2e1742f83.png)

I

[2021-10-23 23:11] #112 closed, assigned to nobody

[2021-10-24 00:13] dbradleyfl commented on #112
Fix confirmed. Thank you!!

[2021-11-05 21:21] pie6k opened #114 "How to listen for updates and deletes SINCE given point in time?"
# Feature request

## Is your feature request related to a problem? Please describe.

Sometimes it is required to get all updates (aka perform sync) since given point in time.

Example might be offline cached copy of the data.

Let's say row A is created by client A and stored locally.

Then client A did not open the app for a week.

In the meanwhile, client B removed row A.

Then, client A opens

[2021-11-25 11:16] kiwicopple opened #118 "Only push tokens to open channels"

[2021-12-03 00:39] w3b6x9 commented on #118
issue fixed with PR https://github.com/supabase/realtime-js/pull/119

[2021-12-03 00:39] #118 closed

[2021-12-06 23:28] zevaverbach opened #174 "JS Client is missing "delete" events"
# Bug report

## Describe the bug

Even after enabling full replication [as described here](https://supabase.com/docs/reference/javascript/subscribe#listening-to-deletes), the Supabase JS client doesn't receive "DELETE" events.

(this is a duplicate of supabase/supabase-js#122 btw)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a table,

[2021-12-08 14:55] GaryAustin1 opened #121 "Realtime websocket loses connection regularly when browser tab goes to background"
# Bug report

## Describe the bug

With a simple subscription to a table (RLS or Not) the websocket drops and reconnects every 3 minutes after 5 minutes of tab in background.  Verifying on Windows 10 with Chrome and Edge.  Note going to different tab on browser puts other tabs in background mode.

## To Reproduce

var supabase = supabase.createClient("https://url.supabase.co",   "auth code")
let m

[2021-12-08 15:36] hyferg commented on #106
The websocket dependency is evidently native and ERB can't handle that. This is the relevant bit of code from CheckNativeDeps.js that gets mad.

[code]

You could for example list @supabase/realtime-js as a dev dependency to make this block of code happy. Not sure what that would mean in production though.

Probably the problem here is that the (websocket)[https://www.npmjs.com/package/websocket]

[2021-12-09 03:22] GaryAustin1 commented on #121
Looking into this more I see realtime uses websocket-node.  I'm hopeful there are some settings that can deal with the background tab throttle giving client more time to ping.  I've found no discussions on that particular package but here are  others that have had to deal with this:
https://socket.io/blog/engine-io-4-release/#heartbeat-mechanism-reversal
https://stackoverflow.com/questions/6649654

[2021-12-10 09:29] fschoenfeldt commented on #121
I see that you're using Phoenix. We're having similar issues with the websocket disconnecting after a while – mostly in an inactive browser tab.

[2021-12-10 23:55] GaryAustin1 opened #123 "Realtime.js getting invalid token on disconnect/reconnect of websocket after gotrue.js token refresh"
# Bug report
EDIT:
SEE 2nd REPLY comment below.   This is a separate bug from the background throttle after more investigation.  Any disconnect of the websocket after a token refresh by gotrue, and then a reconnect gets a token error.  The reconnect uses the original token provided to realtime rather than the more recent one provided by gotrue using realtime.setAuth().  It appears setAuth() only w

[2021-12-11 03:15] GaryAustin1 commented on #123
More info on error sequence: 3 letter code is last 3 letters of token, times are in websocket messages except the gotrue net request.

Many websocket connections before failure....

websocket start:
31:03 -- join fmU
31:31 -- fmU request
-------------------------------31:51 (time from network packet) token request from gotrue, returns Djk token
31:52 -- DjK request           (note odd time not nor

[2021-12-11 14:09] GaryAustin1 commented on #123
Further testing reveals Firefox also fails and the failure only requires a running realtime websocket, then a refresh token by gotrue.  After that a disconnection of the websocket (background throttling, internet interruption, browser offline/online toggle) causes the reconnect to pass the original web token from realtime startup versus the latest token from gotrue refresh token.

I believe the re

[2021-12-11 15:52] GaryAustin1 commented on #121
Adding this comment here also on Chrome and going to 1 minute timeouts (which would break the 60 sec heartbeat).

https://developer.chrome.com/blog/timer-throttling-in-chrome-88/

[2021-12-16 20:29] Isaiah-Hamilton opened #124 "Chore: update Github description to supabase.com"
# Chore

## Describe the chore

update Github description  from [supabase.io](https://supabase.com) to [supabase.com](https://supabase.com)

<img width="1392" alt="Screen Shot 2021-12-16 at 3 28 11 PM" src="https://user-images.githubusercontent.com/70828596/146444535-8d14c606-c732-4f33-80b1-12afcfc6befa.png">

[2021-12-18 05:32] inian commented on #124
Done thanks @Isaiah-Hamilton

[2021-12-18 05:32] #124 closed

[2021-12-21 00:09] w3b6x9 commented on #114
@pie6k thanks for this feature request!

I don't think we'll be implementing this any time soon so it's best to create your own custom solution. Feel free to share it here though as I'm sure it'll server as inspiration.

[2021-12-22 00:13] w3b6x9 commented on #123
@GaryAustin1

I think you're right! I'm currently putting in a fix.

[2021-12-22 02:17] w3b6x9 commented on #123
@GaryAustin1 if you're able to can you spin up these [changes](https://github.com/supabase/realtime-js/pull/126) locally and see if it fixes this issue you reported?

[2021-12-22 02:42] GaryAustin1 commented on #123
I'll give it a try.  I seemed to only half succeed last time, but I need to get this github stuff down.  I believe I have  pulled, and built the branch and started code running in my main project, now have to wait for token refresh.  If I don't respond tonight, will tomorrow.

By the way my Supabase instance we started all this with seems to have partly switched back to the new RLS stuff (which is

[2021-12-22 03:05] w3b6x9 commented on #123
@GaryAustin1

Thanks!

It should be working now! There was an issue with your Realtime replication slot. The previous Realtime we rolled you back to used a permanent slot while the new Realtime RLS uses a temporary slot. Because we had manually rolled you back the slot didn't become active (permanent slot persisted) after upgrading you to the latest Realtime RLS. This shouldn't happen again for fu

[2021-12-22 03:13] GaryAustin1 commented on #123
LOL, right in the middle of the test run waiting for token refresh it got reset of the server...
I'll let you know in morning.

[2021-12-22 03:14] w3b6x9 commented on #123
@GaryAustin1 oh no!

[2021-12-23 02:48] #123 closed

[2021-12-24 00:12] w3b6x9 commented on #108
@chasers This only works server-side (see: https://github.com/theturtle32/WebSocket-Node/issues/386#issuecomment-974414416). What should we do about client-side?

[2021-12-24 08:07] abc3 commented on #108
we can pass custom param through [protocols](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/WebSocket)

[code]

then get a result from header `Sec-WebSocket-Protocol: API_KEY`

[2021-12-28 03:14] #114 closed

[2021-12-31 22:52] GaryAustin1 opened #127 "Realtime allows multiple subscriptions to table"
# Bug report
Documentations for realtime.js says:

Currently creating additional subscriptions to same table (or same table and exact filter) generate a new subscription.

## To Reproduce

create multiple subscriptions to the same table and filter

## Expected behavior
Based on the documentation, and I think the intent of the code, reusing a subscription should not create a new one.
I assumed it w

[2022-01-07 02:06] w3b6x9 commented on #94
@DexterHuang are you still experiencing this issue? i think this might have been taken care of with one of the latest supabase-js releases.

[2022-01-07 02:31] DexterHuang commented on #94
@w3b6x9  Hi, yes, I have tested with `"@supabase/supabase-js": "^1.28.0"` just now, the issue is still there.
since last time until now, I have been using the workaround patch I mentioned in my app.

is this issue reproducible or its only me?

[2022-01-07 02:46] #53 closed

[2022-01-10 19:56] w3b6x9 commented on #94
@DexterHuang can you try `supabase-js` v1.29.1?

[2022-01-11 01:32] DexterHuang commented on #94
@w3b6x9  tested with `1.29.1` still with the same issue

[2022-01-12 00:42] w3b6x9 commented on #127
@GaryAustin1 thanks for reporting this! this is most likely a bug. i'm currently investigating.

[2022-01-15 01:09] w3b6x9 commented on #127
@GaryAustin1 can you please give this fix a try? https://github.com/supabase/realtime-js/pull/128

[2022-01-15 01:11] GaryAustin1 commented on #127
Thanks, I'll try it in the morning...

[2022-01-17 17:54] #127 closed

[2022-01-19 00:58] GaryAustin1 commented on #121
Not directly related to the above issue (which is still there).

@w3b6x9 I'm not sure who at Supabase is the knowledge keeper of the phoenix realtime socket level stuff...

But I think it is important to understand what level of interruption a websocket can have and still have the server maintain an output queue of realtime changes to that socket.
For instance if the socket drops one heartbeat and

[2022-01-20 01:16] w3b6x9 commented on #121
@GaryAustin1 if the server doesn't receive a heartbeat for 60 seconds (this is the default for all Supabase projects running Realtime RLS but can be customized) then it will sever the socket connection. When the socket connection is severed, all of the channel processes (every topic that a client was listening to via the socket conn) dies. On reconnect, all of the topics that the client is listeni

[2022-02-15 05:47] w3b6x9 commented on #108
@abc3 i had a chance to investigate this and came to the conclusion that this wouldn't work b/c the user socket does not have access to the `Sec-WebSocket-Protocol` header.

we could create an endpoint in the server for client to make a request with their api key, send back a one time token, and have client send the token as query param. this way, only the one time token ends up in logs.

[2022-02-18 20:33] GaryAustin1 opened #133 "Realtime loses heartbeats (and data events) if multiple events occur during a 60 second window, each under 30 seconds apart."
# Bug report
It appears realtime.js resets its websocket heartbeat timer on realtime events
If realtime events come in over a minute period, each 30 seconds or less apart the websocket heartbeat does not go out in time and the connection closes and resets.  This can cause loss of data during the reconnect period.

## To Reproduce

Set up a table with two columns (id,count) and no RLS.  Use UI to a

[2022-02-19 02:56] w3b6x9 commented on #133
possibly related: https://github.com/supabase/realtime-js/issues/94

[2022-02-19 03:04] GaryAustin1 commented on #133
Looks like this has been known awhile.  Not good.
If you reset heartbeat in that code on any websocket response (and I'm just guessing it does that as I looked for a heartbeat reset in your code based on what I was seeing) you are basically saying you can't have more than 1 event per client per minute, otherwise you are into "well if you have more than one, they can't be less than 30 seconds apart

[2022-02-19 04:05] GaryAustin1 commented on #133
@w3b6x9 at this point I almost believe you all need to not reconnect a dropped connection (based on this type of issue, plus internet connection, plus background tabs, plus mobile device power save modes).  All these events can cause a dropped connection, even if for 3 seconds.   You could lose data and not know it.

It needs to be made clear if you need RELIABLE realtime data you must reset every

[2022-02-20 03:32] w3b6x9 commented on #94
@DexterHuang i just released a potential fix for this. can you please give `supabase-js` v1.30.4 a try?

[2022-02-21 19:24] GaryAustin1 commented on #133
@w3b6x9 The multiple requests withing 60 seconds killing heartbeat has been fixed with latest release of supabase.js.
Thanks

One issue is that is numbered release 0.0.0....
{
  "name": "@supabase/supabase-js",
  "version": "0.0.0",

instead of 1.30.4.

[2022-02-22 01:28] w3b6x9 commented on #133
@GaryAustin1 nice, glad it's fixed.

regarding the proper version number in `package.json`, we'll have to figure out the best way to do that and apply it to all supabase js client libs.

[2022-02-22 01:28] #133 closed

[2022-02-22 01:28] #94 closed

[2022-02-22 01:38] darora commented on #133
The version is being correctly set in the released packages already. What's the use case requiring the repo to be updated?

[code]

[2022-02-22 01:48] GaryAustin1 commented on #133
For my test case I used the cdn version:
![image](https://user-images.githubusercontent.com/54564956/155047963-630e7563-ad62-4c3d-81f4-0c4aebcaae53.png)
which does contain the correct version files and I think has had correct version before, but don't use it a lot versus npm version for my real project.
In the github source I noticed the 0.0.0 still there.

In my real project with npm it reflects

[2022-02-22 01:51] darora commented on #133
@GaryAustin1 which CDN was that? We'll look into why that might be happening

[2022-02-22 01:52] GaryAustin1 commented on #133
I'm pretty sure both the documented ones as I switched to see if I was getting correct code.
https://cdn.jsdelivr.net/npm/@supabase/supabase-js is what I have in the test code now.

[2022-02-22 02:41] GaryAustin1 commented on #121
I've been looking into this a bit.  Unfortunately without any sort of short term queue **I believe Supabase needs to make clear that when a tab is not in focus, you need to stop realtime, and plan on restarting completely on focus using the visibility event.**  A tab not in focus can mean just a simple go check stocks on another tab and come back.   Based on further research a queue would probably

[2022-02-22 04:22] darora commented on #133
Thanks @GaryAustin1 - I think https://github.com/supabase/supabase-js/pull/384 should fix this

[2022-03-04 02:29] GaryAustin1 commented on #121
@w3b6x9
Can you take a look at this discussion (in particular the flowchart and then the code in the bottom reply) when you get a chance (no hurry) and comment.
I've been trying to come up with a straight forward way to handle realtime across all connection failures in a reasonably performant manner.  So far limited testing is good on desktop, starting on mobile devices soon.

Unfortunately the co

[2022-03-04 02:30] GaryAustin1 commented on #121
EDIT:  Add link
https://github.com/supabase/supabase/discussions/5641

[2022-03-29 10:57] xxholyChalicexx commented on #121
This hasn't been solved yet ?

[2022-04-02 04:59] y-migita opened #148 "RealtimeChannel.ts fails to import isEqual in Nuxt3+supabase-module environment."
# Bug report

## Describe the bug

RealtimeChannel.ts fails to import isEqual in Nuxt3+supabase-module environment.

## To Reproduce

https://github.com/y-migita/supabase-nuxt3

1. Clone repo
2. run "yarn install"
3. run "yarn dev"
4. See error

## Screenshots

<img width="894" alt="ScreenShot_20220402 2@2x" src="https://user-images.githubusercontent.com/95598040/161367006-9b932579-d035-4fdf-a331-

[2022-04-02 14:25] justinleapline opened #149 "this.transport is not a constructor error on subscriptions"
# Bug report

When trying to connect to a subscription through Supabase, it throws an error, stating

[code]

## Describe the bug

It seems to generate anytime a subscription is initiated. I even attempted to import the realtime-js library direction instead of through the nuxt3 supabase module and it produced the same error.

Here is the code I used to generate the error. Everything else was initi

[2022-04-02 19:59] w3b6x9 commented on #148
@y-migita please upgrade to `supabase-js` v1.33.3

[2022-04-02 19:59] w3b6x9 commented on #149
@justinleapline please upgrade to supabase-js v1.33.3

[2022-04-02 20:40] justinleapline commented on #149
@w3b6x9 thanks for the work on this! It seems to have introduced a new error during yarn dev:

Adding lodash.clonedeep to the local project resolves this issue.

And unfortunately, it did not resolve the problem above. Confirm the project was on **supabase-js@1.33.3**

[2022-04-02 21:10] w3b6x9 commented on #149
@justinleapline no problem!

can you please try `realtime-js@v1.4.2` and then `realtime-js@v1.4.3`? i'm trying to isolate the issue.

[2022-04-02 22:35] justinleapline commented on #149
Tried pinning the versions mentioned - didn't seem to do any difference. Here is the repo I'm using.

https://github.com/justinleapline/nuxt3-test

[2022-04-02 22:37] Marviel opened #153 "Ability to Generate Typescript Declarations"
# Feature request

As a client, I would like to generate typescript definitions for my supabase realtime client -- call it the Typed-SDK -- based on the current schema in my postgres database.

I would also like to have the option to be notified when the types I am trying to use are "out of date" with the database's current schema types.

## Describe the solution you'd like
- I believe in order fo

[2022-04-03 14:31] w3b6x9 commented on #149
@justinleapline thanks, i'll spin it up and investigate.

[2022-04-03 19:43] y-migita commented on #148
Thanks for the fix!

[2022-04-03 19:43] #148 closed

[2022-04-04 13:16] w3b6x9 commented on #148
@y-migita you got it!

[2022-04-05 18:25] justinleapline commented on #149
You may be missing the .env file in there with the SUPABASE_URL and SUPABASE_KEY variables, as I did not check that into the repo.

Adding those in and modifying the subscription code within app.vue to a normal query does work.

[code]

It's only when it is a real-time subscription that it throws the error.

I'll dig into it a bit more to see if I can narrow does where the error is throwing.

[2022-04-05 18:28] w3b6x9 commented on #149
@justinleapline oh, i see. alright, i'll do some more digging as well.

[2022-04-10 00:45] GaryAustin1 opened #154 "Difference between realtime and realtime-js documentation ... token on connect"
# Bug report

In realtime documentation it shows:
```var channel = socket.channel('realtime:public:rls_table', { user_token: JWT })```
In realtime-js documentation it shows:
```var databaseChanges = client.channel('realtime:*')```
And there is no discussion of providing a user_token.

I don't use realtime-js directly, but if it requires the user_token then documentation should reflect that.

## Ex

[2022-04-10 00:48] w3b6x9 commented on #154
@GaryAustin1 Thanks! Will update `realtime-js` docs.

[2022-04-10 00:55] GaryAustin1 commented on #154
I was just working with a user in Discord getting deletes and not inserts/updates using realtime-js directly.   Went thru all the normal stuff, back and forth as looks like an RLS issue, finally suggested they contact support as out of ideas...  Then I dug deeper and found this, which they did not have.  Let them know, but they are offline now...  Not sure if that is their issue or not...

[2022-04-10 01:03] w3b6x9 commented on #154
@GaryAustin1 Thanks for helping said user. I'm currently debugging with the user and I think you may be right about the token.

[2022-04-10 02:04] w3b6x9 commented on #154
@GaryAustin1 That was an odd one. User created a new project and everything is fully working. There was nothing out of the ordinary so it was quite strange it wasn't working before. Anyways, appreciate you helping out the user!

[2022-04-10 02:15] GaryAustin1 commented on #154
Hate those... Need to be watching for something a user can do to grants/permissions or such.  realtime schema mainly has the subscription table which seems to go empty between connections and certainly server resets, which the user said they did.  That leaves migrations, but I assume you can see those.  I guess something strange could be going on with replications getting out of whack on tables...

[2022-04-15 15:43] lstegger commented on #149
I had the same problem and I think it is due to SSR. You want the subscription to take place clientside. Thus, I wrapped it in the onMounted hook like this and it works for me:

[code]

[2022-04-22 21:55] vaughanj10 opened #157 "Listening function `.on` does not compile in Typescript when following example from README"
# Bug report

## Describe the bug

When referencing the example code in the README for my own usage of the library, the Typescript compiler fails to compile the format and usage of the `on` function. Example:

[code]

This line `locationTable.on("INSERT", (e: any) => console.log(e));` results in the Typescript error:

[code]

When I switch to running this file as plain Javascript, everything works

[2022-04-22 23:52] w3b6x9 commented on #157
@vaughanj10 You imported `RealtimeClient` yet mentioned that your `supabase-js` version is 1.6.2. Either way, can you please upgrade to the latest version and try again.

[2022-04-23 01:32] w3b6x9 commented on #149
@justinleapline feel free to reopen this issue if you're still blocked.

[2022-04-23 01:32] #149 closed

[2022-04-25 12:14] justinleapline commented on #149
Yep - thanks to @lstegger suggestion, I was about to get subscriptions working. @w3b6x9 thanks for the assist!

[2022-04-25 17:03] vaughanj10 commented on #157
Tried again on 1.7.2. Same result. `'(e: any) => void' is not assignable to parameter of type '{ [key: string]: string; } & Function'.`

This type error seems pretty funky to me. Why would a type be a map of string -> strings AND a function?

I think it has to do with the fact that when you create a channel, it's type is `RealtimeChannel | RealtimeSubscription`. We can see that `RealtimeSubscripti

[2022-04-29 09:54] slaesh opened #159 "Improve and enrich exported types"
# Feature request

I have no clue what's the current state of this lib, maybe this would come later on..
But the exported types should be improved and enriched.

For example:

Currently the interface for the RealtimeChannel's `on` call could be easily improved.

https://github.com/supabase/realtime-js/blob/05d098c228d4303151d58448bf3e05cfb1c77225/src/RealtimeChannel.ts#L125

Instead of
[code]

we

[2022-05-10 10:25] MartyMcFlyInTheSky opened #162 "Can't subscribe to database changes due to type ambivalence"
# Bug report

Your README.md states that one can subscribe to channel events as follows:

[code]

This however doesn't work in my case. It spawns the following error:

[code]

The reason for this is that the channel() method returns either an object of type RealtimeChannel or RealtimeSubscriptions. However, they differ in the signature of the "on"-method which is subsequently used:

RealtimeChanne

[2022-05-15 05:50] molaeiali commented on #157
I have the same problem, there needs to be another override of the `.on` function without the filter.

When you have two optional parameters in a function, you cannot, not provide the first one

Another solution can be the filter type. it can be `{ [key: string]: string } | undefined` for example so that we can pass undefined instead of the filter.

[2022-05-19 23:06] w3b6x9 commented on #157
Sorry about this, everyone! Let me revert these changes and will ping here once it's released.

Planning some larger changes that will do a better job of this.

[2022-05-19 23:36] w3b6x9 commented on #121
@xxholyChalicexx we have not visited this issue yet but will investigate in the near future. Is this currently blocking you? Have you come up with alternatives?

[2022-05-19 23:51] w3b6x9 commented on #159
@slaesh absolutely agree with you.

We're planning some big changes to this client lib and will improve the types. Will incorporate some of the feedback you've given here.

[2022-05-20 06:40] xxholyChalicexx commented on #121
well its not blocking but it gets annoying at times. As of now i try to catch and reconnect, i do that so that too is hit and a miss. Thankfully it doesnt have any adverse effect so for now just making it work.

[2022-05-26 12:14] visoft opened #160 "WARN Require cycle"
# Bug report

Using the latest supbase-js client, I receive a warning in my React Native application. I am not directly using realtime-js in my application at all.

## Describe the bug

[code]

## To Reproduce

I have the following code:

[code]

When I use the `supabaseClient` the first time, I receive the warning.

## Expected behavior

No warning message from React Native

## Screenshot
![image

[2022-06-05 18:04] vhscom opened #161 "Install fails without Python"
# Bug report

## Describe the bug

There's a dependency on Python runtime to install this JavaScript library.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Install minimal OS such as Arch/Void
1. Create a SvelteKit app
2. Add this lib as a dev dependency
3. Run Pnpm installation
4. See error without python runtime

## Expected behavior

Python

[2022-06-18 07:37] wootsbot opened #164 "WARN: Require cycle: node_modules/@supabase/realtime-js/dist/main/RealtimeSubscription.js"
# Bug report

## Describe the bug

I am getting a warning when using `supebase` in `react native`, I have the following configuration

[code]

When making a query I get the following warning:

[code]

## To Reproduce
Use the suggest setting to expose the documentation https://supabase.com/docs/guides/with-expo

## Expected behavior

A clear and concise description of what you expected to happen.

[2022-06-30 17:38] w3b6x9 commented on #164
@wootsbot what do you mean?

[2022-07-01 06:11] w3b6x9 commented on #160
Related: https://github.com/supabase/realtime-js/issues/164

[2022-07-01 06:12] w3b6x9 commented on #164
@wootsbot going to close this one and track it https://github.com/supabase/realtime-js/issues/160 since it's the same issue.

[2022-07-01 06:12] #164 closed

[2022-07-01 06:18] w3b6x9 commented on #161
@vhscom i'll ask the team to take a look and get back to you on this one. thanks for your patience!

[2022-07-04 03:42] craigdrayton opened #165 "500 error upon deployment of a Supabase subscription to Cloudflare Pages"
# Bug report

## Describe the bug
I have a SvelteKit app that uses the '@sveltejs/adapter-cloudflare' adapter to deploy to Cloudflare Pages.

The app uses the @supabase/supabase-js library to connect to my Supabase project. I've deployed an app with data reading & writing successfully to Supabase.

I've added a basic supabase subscription, and having deployed the change I get the following error o

[2022-07-04 04:27] craigdrayton commented on #165
Well color me confused, when I do nothing other than add a try/catch block around the subscription, the 500 error stops occurring, but also the subscription works!?

[code]

[2022-07-04 04:30] w3b6x9 commented on #165
@craigdrayton oh interesting, I have never seen that before. Glad it’s working!

[2022-07-04 09:53] w3b6x9 commented on #165
@craigdrayton can you please share the error that was console logged? perhaps it can give us a clue as to what was causing the 500.

[2022-07-04 10:11] w3b6x9 commented on #161
@vhscom there's nothing we can do b/c `realtime-js` has https://github.com/theturtle32/WebSocket-Node as a dependency and that requires `bufferutil`.

we just discussed moving to https://github.com/websockets/ws where `bufferutil` is optional (see: https://github.com/websockets/ws#opt-in-for-performance).

[2022-07-04 23:44] craigdrayton commented on #165
That's what I mean is strange - no error was logged so it appears that the error did not occur because the try/catch block was there...

The original error message was:

I actually suspect the root issue is somewhere in the SvelteKit cloudflare adapter, which assigns to a 'stack' property in the code it generates at `.svelte-kit\cloudflare\_worker.js`

[2022-07-04 23:50] w3b6x9 commented on #165
@craigdrayton gotcha, i'll close this issue for now but feel free to re-open if you're hunch regarding CF adapter doesn't work out.

[2022-07-04 23:50] #165 closed

[2022-07-04 23:50] #161 closed

[2022-07-11 15:59] whhotw opened #167 "Require cycle with React Native"
# Feature request

## Is your feature request related to a problem? Please describe.

Meet the warning message with `@supabase/supabase-js": "^1.35.4` and `react-native": "0.68.1`

## Describe the solution you'd like

when launching a project my console will print out many warning messages it's too dizzy, though the `Require cycles are allowed`.

## Describe alternatives you've considered

Many mo

[2022-07-12 06:51] w3b6x9 commented on #167
@whhotw we are aware of this issue and we're tracking it here: https://github.com/supabase/realtime-js/issues/160.

[2022-07-12 06:51] #167 closed

[2022-07-17 09:27] farzd opened #170 "subscription.isClosed is not a function"
# Bug report
isClosed function not found.

## Describe the bug
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Subscribe to a table
2. Wait for connection to go idle [i'm using react native, so wait a few min / minimise the app]
3. When the connection drops, this warning shows

[code]

## Expected behavior

Show clean up / remove subscrip

[2022-07-18 15:02] kmallari opened #168 "NextJS Not Subscribing to RealTime (subscription state is "closed")"
# Bug report

## Describe the bug

I'm trying to subscribe to a realtime table in Supabase. For some reason, the subscription is not working so database changes aren't being reflected to my NextJS app. I've tried logging the listener, and the state of the listener is "closed."

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

I have a useEffect hook

[2022-07-19 14:24] kmallari commented on #168
I was able to solve the issue by changing strict mode in my `next.config.js` to false.
[code]
I found the solution [here](https://stackoverflow.com/questions/60618844/react-hooks-useeffect-is-called-twice-even-if-an-empty-array-is-used-as-an-ar), where it says that

Because strict mode was true, it was making my component render twice, which messes up the real-time subscription to my database.

[2022-07-19 14:24] #168 closed

[2022-07-20 02:49] Jannchie opened #169 "When used with react strict mode, the realtime database does not subscribe properly."
# Bug report

## Describe the bug

When we develop with the React strict mode, we can't build subscriptions correctly.

## To Reproduce

Turn on strict mode:

[code]

Using subscriptions in components:

[code]

## Expected behavior

In strict mode, useEffect is triggered twice. In theory, it should quickly establish and close a connection once, and then establish it again.

However, in practice, i

[2022-07-27 09:10] farzd commented on #170
yes @w3b6x9 you are correct, my bad!

[2022-07-27 09:10] #170 closed

[2022-07-27 12:01] ru88s commented on #169
In my case, I upgraded to Next.js v12.2.3 and it solved the problem.
[Release v12\.2\.3 · vercel/next\.js](https://github.com/vercel/next.js/releases/tag/v12.2.3)

[2022-07-27 14:47] jordanful commented on #168
I am experiencing this issue, and changing `reactStrictMode` to `false` does not resolve it.

[2022-08-03 20:23] w3b6x9 commented on #160
@visoft this is resolved. please upgrade to [v1.7.4](https://github.com/supabase/realtime-js/releases/tag/v1.7.4).

[2022-08-03 20:23] #160 closed

[2022-08-03 20:23] w3b6x9 commented on #162
@MartyMcFlyInTheSky this is resolved. please upgrade to [v1.7.4](https://github.com/supabase/realtime-js/releases/tag/v1.7.4).

[2022-08-03 20:23] #162 closed

[2022-08-06 19:07] w3b6x9 commented on #168
@jordanful take a look at https://github.com/supabase/realtime-js/issues/169 and if that doesn't resolve your issue then please create another issue. thanks!

[2022-08-08 03:04] w3b6x9 commented on #157
This should be resolved after upgrading to `realtime-js` `v1.7.4`.

[2022-08-08 03:04] #157 closed

[2022-08-12 04:10] w3b6x9 commented on #174
I don't think this is an issue anymore.

[2022-08-12 04:10] #174 closed

[2022-08-12 04:13] w3b6x9 commented on #169
Closing this as it's no longer an issue with a later version of next js.

[2022-08-12 18:56] zbennett commented on #121
I just wanted to check in and see if there was any movement here?!

[2022-08-13 00:27] bill-offertrackr commented on #169
@w3b6x9 Supabase real-time is fixed by v12.2.3 but Supabase auth helpers don't work with that version yet per https://github.com/supabase/auth-helpers/pull/170.  Any way to get both real-time and auth helpers working right now?

[2022-08-17 15:54] edgarsilva commented on #169
This is still an issue with NextJS v12.2.5 and supabase-js v1.35.6

[2022-08-18 00:15] edgarsilva commented on #169
Using this workaround, for the time being, solves the issue =>

[code]

[2022-08-18 21:12] RyanTippsTX opened #179 "Postgres Changes channel / real-time not working"
# Bug report

## Describe the bug
Using the new supabase-js 2.0.0-rc.3, and following the [guide](https://supabase.com/docs/guides/realtime/postgres-changes) exactly, the channel is left undefined AND no payload is ever delivered when the I insert/update a row in the DB.

I have tried:
- created a new Supabase DB today, with one public table, enabled Realtime on the table, did not enable RLS
- ver

[2022-08-18 22:29] w3b6x9 commented on #179
@RyanTippsTX Hey, I just replied to your tweet regarding the same but can you please take a look at https://github.com/supabase/realtime-js/issues/169?

[2022-08-19 03:33] RyannGalea commented on #179
I'm having some issues here too, I am getting a response just not all the time,

O believe you need to add .select() to your insert to send back any data, even to the realtime client

[2022-08-19 15:19] enyo opened #250 "Describe how to handle errors for realtime channel subscriptions"
# Improve documentation

## Link

https://supabase.com/docs/reference/javascript/next/subscribe

## Describe the problem

There is no description anywhere on how to handle errors when subscribing. In my app, sometimes subscriptions don't work, and I have no idea on how to handle that. There is a `channel.onError` method, but it doesn't provide any error. So what should I do in the case subscriptio

[2022-08-19 17:25] w3b6x9 commented on #179
@RyanTippsTX I'll make sure to update the docs as they're outdated at the moment.

[2022-08-19 17:26] w3b6x9 commented on #179
Alright everyone, please version bump to supabase-js v2.0.0-rc.4 where the channel will be returned after calling subscribe.

[2022-08-19 17:26] #179 closed

[2022-08-19 19:07] RyanTippsTX commented on #179
Woohoo! - confirmed its working for me on rc.4 !!

[2022-08-19 20:05] GaryAustin1 commented on #179
rc.4 also fixes my issue.

[2022-08-20 13:46] pixtron commented on #169
The issue seems to not be a react specific issue and can be observed in a vanilla typescript setup. See this [minimal reproduction repro](https://github.com/pixtron/supabase-realtime-js-repro-169) with `supabase-js@2.0.0-rc.4`.

As others noted `useEffect` gets called twice in  React 18 development mode.
[code]

Calling above `useEffect` twice translates to this code:

[code]

Obviously it does no

[2022-08-22 20:58] w3b6x9 commented on #169
Hey everyone, I have fixed this issue in `supabase-js` [v2.0.0-rc.5](https://github.com/supabase/supabase-js/releases/tag/v2.0.0-rc.5). Please do a version bump.

Also, please use either `client.removeChannel(chan)` or `client.removeChannels()` for proper cleanup.

[2022-08-22 20:58] #169 closed

[2022-08-22 21:48] pixtron opened #180 "realtime-js allows only one subscription at a time"
# Bug report

## Describe the bug

Currently it is not possible to have more then one subscription on `postgres_changes`

## To Reproduce

### two subscriptions on all postgres-changes.

Only `channel2` will log changes. `channel1` never receives changes.

[code]

### two subscriptions on selected postgres-changes.

Only `channel2` will log changes. `channel1` never receives changes.

[code]

## E

[2022-08-22 21:52] w3b6x9 commented on #180
@pixtron Realtime does not allow duplicate channel names per connected client so this is the intended effect. You can, however, name your channels whatever you like so the skies the limit.

[2022-08-22 21:52] #180 closed

[2022-08-22 23:02] w3b6x9 commented on #180
@pixtron good feedback! will find the best way to surface this so devs are aware. thanks!

[2022-08-23 15:10] w3b6x9 commented on #168
Hey everyone, I have addressed the issue. Please see https://github.com/supabase/realtime-js/issues/169#issuecomment-1223026406 for context.

[2022-08-23 19:32] chiubaca commented on #169
Hey @w3b6x9m,  I tried upgrading to v2.0.0-rc.5  and I'm still facing the issue reported by OP.

I've described my personal implementation of how to handle the double useEffect firing  and issues with cleanup in my discussion [post here](https://github.com/supabase/supabase/discussions/8573) along with a stackblitz to repro.

[2022-08-23 20:47] w3b6x9 commented on #169
@chiubaca just wanted to check if tried it with cleanup and `removeChannel` instead of `unsubscribe`?

[2022-08-23 21:55] pixtron commented on #169
@chiubaca i forked your stackblitz and did some changes, now it's working. Problem was that the useEffect destructor got called immediately and the channel has been removed, but your ref has not been reset.
https://stackblitz.com/edit/nextjs-yqe7rd?file=pages%2Fsend-broadcast.tsx

The flow of the double called useEffect is this:

1. enter useEffect
2. exit (destructor gets called and removes the c

[2022-08-23 22:00] w3b6x9 commented on #169
@pixtron that's fine as the Realtime server will take the absence to mean `self` is `false` but will go back and make the default config better. thanks for pointing this out.

[2022-08-24 15:28] chiubaca commented on #169
thanks so much for taking the to fix my stackblitz example @pixtron. And your explanation reassured me that my mental model of the double `useEffect` in React 18 was correct.

I was wondering if the `setInterval` was really necessary in your fork and was able to [refactor it to be even simpler](https://stackblitz.com/edit/nextjs-hug4zd?file=pages/send-broadcast.tsx,pages/receive-broadcast.tsx).  I

[2022-08-24 17:54] pixtron commented on #169
@chiubaca i just cleared the interval in my fork. If you don't clear it. the interval runs forever. Eg if you go to "Send broadcast" and then after ~4s "back to home" you will still see an `ok` logged every two seconds even though the channel has been already removed from supabase client. This might end up in a memory leak as `channel` can't be garbage collected as long it is still used in the int

[2022-08-26 15:57] GaryAustin1 opened #181 "If https in the Supabase url is not all lower case, uninformative error is issued just by realtime-js"
# Bug report
## Describe the bug

This is more a nuisance issue, but took quite a while to figure it out.  I accidentally deleted the h in https for the url setup to the client and happened to have caplocks (I think) and typed in an H to fix it.   So the URL was Https://.......  but then went on to make other changes and restarted code.

Got this error in the console:

![image](https://user-images

[2022-08-31 04:05] bhvngt opened #183 "`presence` not working on the docker image"
# Bug report

## Describe the bug

Are new [broadcast](https://supabase.com/docs/guides/realtime/broadcast) and [presence](https://supabase.com/docs/guides/realtime/presence) behaviours been rolled out on the docker image?

When I use the code snippet from the official documentation, I get status as `ok`. But no logs of online users or broadcast message is seen on the browser console.

In case of

[2022-08-31 04:17] bhvngt opened #184 "Duplicate and unknown users while trying out presence on supabase project"
# Bug report

## Describe the bug

While trying out `presence` code snippet from the official [documentation](https://supabase.com/docs/guides/realtime/presence), I get duplicate and unknown users as online users even though I am loading only a single page.

## To Reproduce

I ran following code snipeet

[code]

## Expected behavior

I was expecting a single user `Bob` as an online user

## Screen

[2022-08-31 04:26] w3b6x9 commented on #183
@bhvngt Broadcast and Presence are not yet available on the docker image. See https://github.com/supabase/realtime/issues/284#issuecomment-1224908325.

[2022-08-31 04:26] #183 closed

[2022-08-31 04:29] w3b6x9 commented on #184
@bhvngt Can you please share how you're cleaning up the channel? I'm assuming you're using React.

[2022-08-31 05:54] bhvngt commented on #184
@w3b6x9 I am just reloading the page without using any explicit code to cleanup channel. I am using svelte. Code snippet given is the only code running on the page.

[2022-08-31 05:56] bhvngt commented on #183
@w3b6x9 Would you have any rough ETA on the availability on the docker image?

[2022-08-31 06:02] w3b6x9 commented on #183
@bhvngt I don't have a good estimate. Right now, we're transitioning all Supabase projects over to a new Realtime cluster. We're planning to complete this by end of week. Perhaps we'll get started on moving the codebase over to [Realtime](https://github.com/supabase/realtime). I wanna say another 3-5 weeks minimum.

[2022-08-31 06:05] w3b6x9 commented on #184
@bhvngt I want to preface this by writing that I haven't used Svelte at all. I think you should clean up the channel in `onDestroy` by calling `supabase.removeChannel(channel)`.

[2022-08-31 06:16] bhvngt commented on #184
Thanks @w3b6x9. I tried with `supabase.removeChannel(channel)` inside `onDestroy` and now it is working as expected.

[2022-08-31 06:16] #184 closed

[2022-09-02 00:14] jdgamble555 opened #185 "Subscribe to Views / Multiple Rows / Multiple Columns"

[2022-09-10 07:02] yokowasis opened #188 "Realtime is not working on React Project"
# Bug report

## Describe the bug

The realtime listener doesn't get fired when using it on react project. Works fine on normal nodejs project.

## To Reproduce

[SandBox](https://codesandbox.io/s/supabase-subscribe-36hbk5?file=/src/index.js)

## Expected behavior

The script is fired, and the react component state is changed.

[2022-09-11 23:31] Soviut opened #221 "Query subscriptions"

[2022-09-14 06:37] engelzero commented on #164
Upgrading `@supabase/supabase-js` to `1.35.6` solves this warning for me.

Both are required.
[code]

[2022-09-15 18:30] ricardosikic commented on #169
I have removed `<ReactStrictMode>` and problem solved

[2022-09-16 14:17] smarcet opened #187 "reconnection possible bug ?"
hello guys
i was looking at https://github.com/supabase/realtime-js/blob/master/src/RealtimeSubscription.ts source code and i have this doubt.
here
https://github.com/supabase/realtime-js/blob/10228a3d7cb87897751952dfd2f39d0a09f4cdac/src/RealtimeSubscription.ts#L49
when the realtime subscription got an error its trigger the reconnection timer, but timer callback is asking here
https://github.com/s

[2022-09-16 20:44] w3b6x9 commented on #188
@yokowasis doesn't look like you're running into [this issue](https://github.com/supabase/realtime-js/issues/169) judging from the react version you're using in that codesandbox.

can you please submit a support ticket and include your supabase project ref? https://app.supabase.com/support/new

[2022-09-18 11:42] yokowasis commented on #188
Looks like I did. I modify my code to something like this, and it works, at least on localhost. Haven't tested it on production.

[code]

[2022-09-20 22:48] #188 closed

[2022-09-26 23:23] w3b6x9 commented on #187
@smarcet when the socket is not properly disconnected then it'll continuously try to reconnect, and once this is successful, then each subscription will then be able to rejoin. You can take a look at https://github.com/supabase/realtime-js/blob/702594effeeb94e106c7f9518b1366ff6b89a12a/src/RealtimeClient.ts#L388.

[2022-09-26 23:37] w3b6x9 commented on #52
This can be accomplished now depending on which version of `realtime-js` you're using.

If you're using `realtime-js` `master`/`v1` then you can do:

[code]

If you're using `realtime-js` `rc`/`v2` then you can do:

[code]

[2022-09-26 23:37] #52 closed

[2022-09-26 23:43] w3b6x9 commented on #97
@panmau this is actually possible now given `realtime-js`/`supabase-js` `v2`. You can take a look at the bottom of https://supabase.com/docs/guides/realtime/postgres-changes where you can pass in multiple filters per channel.

[2022-09-26 23:46] w3b6x9 commented on #106
@lmick002 were you able to find a workaround / get this working?

[2022-09-26 23:49] #108 closed

[2022-09-26 23:58] w3b6x9 commented on #121
We'll be implementing a solution for this in the next few weeks. `realtime-js` heavily draws from `phoenix-js` and they have already implemented a solution for this: https://github.com/phoenixframework/phoenix/blob/bf1f2bfc9392c515081b1614df1b507f2c120fde/assets/js/phoenix/socket.js#L119. We'll be adopting that solution.

[2022-09-27 00:08] w3b6x9 commented on #159
@slaesh don't want you to think we've forgotten about this. We'll be working on types in the next few weeks. Apologies on the delay!

[2022-09-27 00:16] w3b6x9 commented on #185
@jdgamble555

Yes, we can generate a unique string on the client's behalf if one is not provided.

Would love to hear more about this one. What do you mean by these classes and methods? How does it not support basic use cases?

We have discussed queries/views/graphql subscriptions internally and we'll explore it further before we prioritize it. I'll post updates here as we continue to discuss inte

[2022-09-27 01:30] jdgamble555 commented on #185
The `.on` and `.channel` with the complex parameters where there is no documentation about options.
___
What seems easier to understand:

**1**
[code]

**2**
[code]

I understand the broadcasting feature seems pretty cool to have.  However, you have over complicated the subscription process for people who just want to subscribe to the database.  I don't know that the broadcasting feature is really

[2022-09-30 21:34] #187 closed

[2022-10-17 09:20] samuba opened #201 "type information is wrong for RealtimePostgresChangesPayload"
# Bug report

Not sure if this belongs here or in supabase/supabase-js.

## Describe the bug

When using realtime subscriptions with v2.0.0 of supabase-js the payload type (`RealtimePostgresChangesPayload`) does not match how the payload actually looks like.

When inspecting the payload in the browser it looks like this:
![image](https://user-images.githubusercontent.com/1148424/196139030-976225a5

[2022-10-17 23:05] w3b6x9 commented on #201
@samuba thanks for reporting this! We have a PR open that addresses this: https://github.com/supabase/realtime-js/pull/199. Will get this released shortly after approval.

[2022-10-17 23:06] w3b6x9 commented on #201
@samuba hmm that is super weird b/c that should never be the case. are you self-hosting or have a project at supabase.com?

[2022-10-18 07:08] samuel-bach commented on #201
Nice that it is already addressed. 👍

I encountered this locally using the CLI have not tested on supabase.com yet.

[2022-10-18 07:09] samuba commented on #201
Nice that this is already addressed. 👍

I encountered this locally using the CLI have not tested on supabase.com yet.

[2022-10-18 07:16] samuel-bach commented on #201
By the way: The docs are currently not documenting the payload type at all. Only the parameters. https://supabase.com/docs/reference/javascript/subscribe

[2022-10-18 07:16] samuba commented on #201
By the way: The docs are currently not documenting the payload type at all. Only the parameters. https://supabase.com/docs/reference/javascript/subscribe

[2022-10-18 19:32] w3b6x9 commented on #201
@samuba existing CLI's Realtime is not yet compatible with supabase-js v2. Try it with the hosted Supabase when ready.

Thanks, will take a look.

[2022-10-19 18:23] ruggi99 opened #203 "Missing onOpen function in v2"
# Bug report

## Describe the bug

In v1 we had a function called `onOpen`, which called a callback whenever the websocket was first established or reconnected.
When I use my app with Supabase I have some disconnections and I listen for reconnection events in order to refetch pobbile stale data. It was so useful.
In V2 it is missing and I've not found any new implementation, nor it is mentioned in

[2022-10-21 06:21] ruggi99 commented on #203
@kiwicopple @soedirgo sorry for the ping.

Any thoughts on this?
This is blocking me from upgrading to v2.
Otherwise I'll have to patch the library.

[2022-10-24 22:03] w3b6x9 commented on #203
@ruggi99 we wanted to simplify the exposed API for `realtime-js` v2 so we removed the socket's `onOpen`. You can achieve the same effect by passing in a callback function to the channel's `subscribe` and it will be invoked on initial connection and reconnections:

[code]

Would that be enough to satisfy your existing `onOpen` use case?

[2022-10-25 11:09] ruggi99 commented on #203
@w3b6x9
Haven't tried yet but I think it does what I'm looking for.
Also provides a more granular refetching method.

Will test and reopen if something goes wrong

Thanks

[2022-10-25 11:09] #203 closed

[2022-10-26 12:07] kiwicopple commented on #203
@w3b6x9 - should we add this here?
https://supabase.com/docs/reference/javascript/upgrade-guide

[2022-10-26 16:32] enyo opened #205 "Broadcast .send() calls get ignored if not awaited"
# Bug report

## Describe the bug

When you call `supabaseChannel.send({...})` multiple times without awaiting it, subsequent calls are simply ignored.

## To Reproduce

Create a supabase realtime channel, invoke `.send()` multiple times (without `await`) and inspect the websocket connection. Only the first one goes through.

## Expected behavior

I would expect the calls to be batched and either

[2022-10-26 22:37] w3b6x9 commented on #203
@kiwicopple good call! will do.

[2022-10-27 09:39] enyo commented on #205
I realised that I could reduce the rate limit like this:

[code]

This works for now, and I have implemented my own wrapper that makes sure events are throttled to not exceed this rate limit.

I would be grateful to get a confirmation that is the best way to solve this. Other than that this issue can be closed.

[2022-10-27 23:24] w3b6x9 commented on #205
@enyo that's correct, you can tweak the `eventsPerSecond` depending on your use case. This was just a basic rate limiter we put in place client-side but there are more sophisticated rate limits on the server. You can check out [Realtime Rate Limits](https://supabase.com/docs/guides/realtime/rate-limits) for additional information.

I'm going to close this issue but feel free to reopen if needed.

[2022-10-27 23:24] #205 closed

[2022-10-30 04:10] corasan commented on #201
@w3b6x9  not sure if this is related but I get `Type '"UPDATE"' is not assignable to type '"DELETE"'`

Code:

[code]

[2022-11-01 18:21] w3b6x9 commented on #201
@corasan which version of `realtime-js` are you on? Are you on [v2.1.0](https://github.com/supabase/realtime-js/releases/tag/v2.1.0)?

[2022-11-05 13:11] lumenwrites opened #209 "Realtime Postgres CDC error: "mismatch between server and client bindings for postgres changes""

[2022-11-07 04:24] zamorai commented on #121
Has the solution been implemented?

[2022-11-16 11:47] jsbrain commented on #201
I'm facing the same issue as described in https://github.com/supabase/supabase-js/issues/640.

Continuing the discussion here I'm using self-hosted, my deployment is up-to-date with [docker/docker-compose.yml](https://github.com/supabase/supabase/blob/0b6f6c1ed4f9e646d6b6b341354b013ceea763fa/docker/docker-compose.yml).

[2022-11-16 11:54] jsbrain commented on #201
Temporary workaround for anyone stumbling over this:

[code]

[2022-11-18 10:51] ComputerDen commented on #106
anyone further forward with this? currently just uninstall and reinsatlling it where its needed

[2022-11-25 21:02] jfreyberg commented on #185
Are there any updates regarding these issues?
@jdgamble555 made some _very_ valid points. The realtime feature needs filtering in order to make sense for most real-world use cases. I find it confusing and somewhat concerning that this is not a top priority, as it clearly should be, while other, much less relevant features are pushed forward.

[2022-11-25 21:11] jdgamble555 commented on #185
It looks like they [may have added](https://twitter.com/dshukertjr/status/1593094356969590786) the main six: `eq`, `neq`, `gt`, `gte`, `lt`, `lte`.  Unfortunately there is no `or` filter yet, and you are limited to only one filter.

I have added it to my [j-supabase](https://code.build/p/GZ6ioN6YzcpDwNwGNnDpEn/supabase-subscriptions-just-got-easier) package, although I admit, I have not tested thi

[2022-11-28 12:48] netgfx commented on #121
Interested in this as well because I'm also seeing disconnects on inactive tabs and it causes the client to not receive changes from the DB which in turn places the client out of sync with the rest of the participants

[2022-11-28 14:14] GaryAustin1 commented on #121
@netgfx,
This is just one of the reasons the connection can be dropped (loss of signal, mobile power savings are at least two others).  You need to have code in place to capture the disconnects and restart the process (including loading any old data you need) on every disconnect.  Although realtime will in many cases reconnect, any data changes during that process are lost.

The flow chart here mi

[2022-11-28 22:02] lumenwrites commented on #209
@w3b6x9 That is amazing, thank you so much!

[2022-11-28 22:59] jfreyberg commented on #185
That surely is a step in the right direction. However without `and` and `or` functionality filtering is not viable for most use cases.

@w3b6x9 (or any other maintainer) could you please give an update on the status of this feature?

[2022-11-29 20:23] w3b6x9 commented on #185
@jdgamble555 this is good feedback here: https://github.com/supabase/realtime-js/issues/185#issuecomment-1258851450. Will look it over and pass it on to the rest of the team. Also, what do you mean by `postgres promises`? Like the ability to perform db operations via PostgREST and get back a response on promise resolve in JS?

Yes, these filters are available.

We plan to integrate this [Rust work